body {
    color: #113;
}

.item_center{
    align-items: center;
}

.form-login{
    width: 400px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 12px #cccccc;
    align-items: center;
    letter-spacing: 1px;
}
